<h1><%=@cocktail.name.upcase %></h1>

<% if @cocktail.photo? %>
  <%= cl_image_tag @cocktail.photo.path, width: 500, height: 500, crop: :fill %>
<% end %>

<h2 style="font-size: 25px;">Doses:</h2>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li><%= dose.ingredient.name %> - <%= dose.description %> </li>
  <% end %>
</ul>

<h3 style="font-size: 20px;">Add Dose:</h3>
<%= simple_form_for([@cocktail, @dose]) do |f| %>
<%= f.input :description %>
<%= f.input :ingredient_id, collection: Ingredient.all %>
<%= f.hidden_field :cocktail_id, value: @cocktail.id %>
<%= f.submit "add dose", class: "btn btn-primary" %>
<% end %>


<div class="buttons">
<%= link_to "return", cocktails_path, class: "btn btn-primary" %>
<%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete,  class: "btn btn-primary" %>
</div>

